@import url('https://fonts.googleapis.com/css?family=Martel');

body {
  background-color: aliceblue;
}

h1 {
  color: white;
}

p {
  color: white;
}

ol {
  color: white;
}

p {
  font-size: 1.2em;
  font-size: 20px;
  font-size: 100%
}

p {
  font-family: 'Martel', serif;
}

img {
  max-width: 100%
}

img {
  border-radius: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img:hover {
  transition: width 2s;
  width: 30%;
}

img {
  width: 30%;
  border: solid 5px indigo;
}

/*html {*/
/*  width: 100%;*/
/*  margin: 0;*/
/*}*/

body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color:black;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background: white;
  align-items: center;
  /*border: solid;*/
  width: 100%;
  height: 3em;
  margin: 0;
  padding: 0;
}
.nav-item {
  margin:0;
  padding:0;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  /*margin-top: -.25%;*/
}

.nav-item {
  align-items: column;

}

footer {
  background-color: white;
  border-top: solid 3px black;
  padding: 5%;
  display: block;
  width: 100% clear:both;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  postion: absolute;
}

main {
  padding-bottom: 20em;
  /*   postion:relative; */
}

a:link {
  text-decoration: none;
}

.fa-instagram {
  color:purple;
}

.fa-facebook {
  color: blue;
}

.fa-twitter-square {
  color: #5D8EDD;
}